<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <form method="post">
            {% csrf_token %}
            <input type="radio" name = 'loginUser' value="Admin"><label>Admin</label>
            <input type="radio" name = 'loginUser' value="Co-Admin"><label>Co-Admin</label>
            <input type="radio" name = 'loginUser' value="Teacher"><label>Teacher</label>
            <input type="radio" name = 'loginUser' value="Student"><label>Student</label>
            <input type = "text" placeholder="UserID" name="userID">
            <input type="text" placeholder="Password" name="password">
            <button type="submit"> Login </button>
        </form>

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        
        <script src="" async defer></script>
    </body>
</html>