<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <script>
            const redirectUrl = '{{request.path_info}}';
            // Use the history API to navigate to the new URL
            window.history.replaceState({}, document.title, redirectUrl);
        </script>
    </head>
    <body>
        <form method="post" name="teacherForm" id="teacherForm">
            <div style="width: 200px;">
                {% csrf_token %}
                <input type="text" placeholder="Name" name = "Name">
                <input type="text" placeholder="UserID" name="UserID">
                <input type="email" placeholder="Email" name="Email">
                <input type="text" placeholder="password" name = "password">
            <button type="submit"> Create </button>
            </div>

        </form>

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <div style="border-style: solid; width: 250px;">
            Added teacher
            {% for te in teachers %}
            <div style="margin-top: 20px;border-style: solid">
                Name: {{ te.Name }}<br>
                UserName: {{ te.user_ID }}<br>
                <form method="post" name="subjectget" id="subjectget">
                    {% csrf_token %}
                    <input type="text" placeholder="Add subject" name="subject">
                    <input type="hidden" name="userID" value="{{ te.user_ID }}">
                    <button type="submit"> Add </button>
                </form>
                Subject:
                {% for subj in subject %}
                    {% if subj.teacher.user_ID == te.user_ID %}
                        <p>{{ subj.subject }}</p>
                    {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        
    </body>
</html>