<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <script>
            const redirectUrl = '{{request.path_info}}';
            // Use the history API to navigate to the new URL
            window.history.replaceState({}, document.title, redirectUrl);
        </script>
    </head>
    <body>
        <a href="{% url "admin_app:logout" %}">
            <button>Logout</button>
        </a>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>Warning : {{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form method="post" name="teacherForm" id="teacherForm">
            <h3>Faculty register</h3>
            <div style="width: 200px;">
                {% csrf_token %}
                <input type="text" placeholder="Name" name = "Name">
                <input type="text" placeholder="UserID" name="UserID">
                <input type="email" placeholder="Email" name="Email">
                <input type="text" placeholder="password" name = "password">
            <button type="submit"> Create </button>
            </div>

        </form>

        <div>

            <h3>Sem and section</h3>
            <div style="width: 200px;border-style: solid;">

                    <form method="post">
                        {% csrf_token %}
                        <input type="text" placeholder="semaster" name="semaster"><br>
                        <input type="text" name="section" placeholder="section"><br>
                        <input type="text" name="access_code" placeholder="Batch ID">
                        <button type="submit">Create</button>
                    </form>

                    {% for info in class_info %}
                    <div style="margin-top: 20px;border-style: solid">
                            <p>Semester : {{info.semester}}</p>
                            <p>Section : {{info.section}}</p>
                            <p>Batch : {{info.access_code}}</p>
                            <a href="{% url "co_admin_app:add_student" info.access_code %}">
                                <button>Add students</button>
                            </a>
                            <a href="#">
                            <button>Edit</button>
                            </a>
                    </div>
                    {% endfor %}
            </div>

        </div>

        {% if  class_info.count != 0 %}
        <div style="border-style: solid; width: 250px;">
            Added subject
            {% for te in teachers %}
            <div style="margin-top: 20px;border-style: solid">
                Name: {{ te.Name }}<br>
                UserName: {{ te.user_ID }}<br>
                <form method="post" name="subjectget" id="subjectget">
                    {% csrf_token %}
                    <input type="text" placeholder="Add subject" name="subject"><br>
                    <input type="hidden" name="userID" value="{{ te.user_ID }}">
                    {% for info in class_info %}
                        <label>{{info.semester}} -> {{info.section}}</label><br>
                        <input type="radio" name = 'sem_selected' value="{{info.access_code}}"><br>
                    {% endfor %}
                    <button type="submit"> Add </button>
                </form>
                Subject:
                {% for subj in subject %}
                    {% if subj.teacher.user_ID == te.user_ID %}
                    <div style="margin-top: 20px;border-style: solid">
                        <p>{{ subj.subject }}</p>
                        <p>sem : {{subj.semester_code.semester}}</p>
                        <p>section : {{subj.semester_code.section}}</p>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        {% endif %}

       
        
    </body>
</html>